data_dir = "/var/lib/vector"

[sources.journald]
type = "journald"
current_boot_only = true
exclude_matches = { _SYSTEMD_UNIT = ["vector.service"] }

[transforms.normalize_journald]
type = "remap"
inputs = ["journald"]
source = '''
.host = "{{ base_vector_host_id }}"
.source_type = "journald"
.app = .SYSLOG_IDENTIFIER ?? ._SYSTEMD_UNIT ?? "unknown"
.level = to_syslog_level(to_int(.PRIORITY) ?? 6) ?? "info"
'''

[sinks.victorialogs_journald]
type = "http"
inputs = ["normalize_journald"]
uri = "{{ base_vector_sink_url }}?_stream_fields=host,app&{{ base_vector_sink_common_query }}"
method = "post"
compression = "gzip"
encoding.codec = "json"
framing.method = "newline_delimited"
healthcheck.enabled = false

[sinks.victorialogs_journald.buffer]
type = "disk"
max_size = {{ base_vector_buffer_max_size }}
when_full = "block"
